@import '../../assets/scss/a.scss';
@import '../../assets/scss/b.scss';
@import '../../assets/scss/common.scss';
h1 {
    color: green;
}
section {
    width: 600px;
    height: 300px;
    text-align: center;
    color: #fff;
    font-size: 5em;
    background: red;
    &:nth-child(2n) {
        background: green;
    }
    &:hover {
        border: 10px solid #ccc;
    }
    &+section {
        margin-top: 10px;
    }
}
.image-bg {
    background: url('../../assets//image/bg.jpg');
}